{% macro displayCategorylist(category_list) %}
{% for category in category_list %}
<li><a href="{{url_for('.category',id=category.id)}}">{{category.name|upper}}</a></li>
{% endfor %}
{% endmacro %}

{% macro displayNotes(note_list) %}
{% for note in notes_list %}
<div class="container">
 <h2>{{ note.title }}</h2> 
 <p>{{ note.content }}</p>
 <p>({{ note.time.strftime('%B-%d-%y/%H:%m') }})</p>
 <!-- <a href="{{url_for('main.pitch', id = pitch.id)}}" class=" btn btn-primary">Edit</a>  -->
</div>
<hr>

{% endfor %}
{% endmacro %}